        <header>
            <div class="header">
                <div class="header_block-1">
                    <div class="header__item-name">
                        <input class="head-input" input [(ngModel)]="charName" placeholder="Введите имя персонажа"> <br>
                        <b>Имя персонажа</b>
                    </div>
                </div>
                <div class="header_block-2">
                    <div class="header__item">
                        <input class="head-input" input [(ngModel)]="charClass" placeholder="Введите класс и уровень"> <br>
                        <b>Класс и уровень</b>
                    </div>
                    <div class="header__item">
                        <input class="head-input" input [(ngModel)]="charOrigin" placeholder="Введите происхождение"> <br>
                        <b>Происхождение</b>
                    </div>
                    <div class="header__item">
                        <input class="head-input" input [(ngModel)]="userName" placeholder="Введите имя игрока"> <br>
                        <b>Имя игрока</b>
                    </div>
                    <div class="header__item">
                        <input class="head-input" input [(ngModel)]="charRace" placeholder="Введите Рассу"> <br>
                        <b>Расса</b>
                    </div>
                    <div class="header__item">
                        <input class="head-input" input [(ngModel)]="charWorldView" placeholder="Введите Мировозрение"> <br>
                        <b>Мировозрение</b>
                    </div>
                    <div class="header__item">
                        <input class="head-input" input [(ngModel)]="charXP" placeholder="Введите опыт"> <br>
                        <b>Опыт</b>
                 </div>
                </div>
            </div>
            <hr class="hrhead">
        </header>
            <div class="main-block">
                <div class="save-button">
                    <button class="save-button__item" (click)="saveAllChanges()">Сохранить</button>
                </div>
                <div class="main-block__left">
                    <div class="main-block__left_top">
                        <div class="main-block__chracteristics">
                            <div class="main-block__chracteristics_item">
                                <h2>Сила</h2> <br>
                                <input class="input-characteristics-top" value="+1"> <br>
                                <input class="input-characteristics-bottom" value="13"> 
                            </div>
                            <div class="main-block__chracteristics_item">
                                <h2>Ловкость</h2> <br>
                                <input class="input-characteristics-top" value="+2"> <br>
                                <input class="input-characteristics-bottom" value="15">
                            </div>
                            <div class="main-block__chracteristics_item">
                                <h2>Выносливость</h2> <br>
                                <input class="input-characteristics-top" value="+3"> <br>
                                <input class="input-characteristics-bottom" value="16">
                            </div>
                            <div class="main-block__chracteristics_item">
                                <h2>Интелект</h2> <br>
                                <input class="input-characteristics-top" value="+3"> <br>
                                <input class="input-characteristics-bottom" value="17">
                            </div>
                            <div class="main-block__chracteristics_item">
                                <h2>Мудрость</h2> <br>
                                <input class="input-characteristics-top" value="-1"> <br>
                                <input class="input-characteristics-bottom" value="8">
                            </div>
                            <div class="main-block__chracteristics_item">
                                <h2>Харизма</h2> <br>
                                <input class="input-characteristics-top" value="+1"> <br>
                                <input class="input-characteristics-bottom" value="13">
                            </div>
                        </div>
                        <div>
                            <div class="main-block__chracteristics-second">
                                <div class="main-block__chracteristics-second_text"> <input class="input__chracteristics-second"> <b>Вдохновение</b> </div> <hr>
                                <div class="main-block__chracteristics-second_text"> <input class="input__chracteristics-second" value="+2">  <b>Бонус умения</b> </div>
                            </div>
                            <div class="main-block__chracteristics-second">
                                <div class="characteristics-second__tests-item"> <input type="checkbox"> <input class="input__chracteristics-second" value="+1"> <i>Сила</i> </div>
                                <div class="characteristics-second__tests-item"> <input type="checkbox"> <input class="input__chracteristics-second" value="+2"> <i>Ловкость</i> </div>
                                <div class="characteristics-second__tests-item"> <input type="checkbox"> <input class="input__chracteristics-second" value="+3"> <i>Выносливость</i> </div>
                                <div class="characteristics-second__tests-item"> <input type="checkbox"> <input class="input__chracteristics-second" value="+3"> <i>Интелект</i> </div>
                                <div class="characteristics-second__tests-item"> <input type="checkbox"> <input class="input__chracteristics-second" value="-1"> <i>Мудрость</i> </div>
                                <div class="characteristics-second__tests-item"> <input type="checkbox"> <input class="input__chracteristics-second" value="+1"> <i>Харизма</i> </div>
                                <div class="characteristics-second__name-text"> <b>Испытания</b> </div>
                            </div>
                            <div class="main-block__chracteristics-second">
                                <div class="characteristict-second__skils-item"> <input type="checkbox"> <input class="input__chracteristics-second" value="+2"> <i> Акробатика </i> <i>(Лвк)</i> </div>
                                <div class="characteristict-second__skils-item"> <input type="checkbox"> <input class="input__chracteristics-second" value="+1"> <i> Атлетика </i> <i>(Сил)</i> </div>
                                <div class="characteristict-second__skils-item"> <input type="checkbox"> <input class="input__chracteristics-second" value="-1"> <i> Внимание </i> <i>(Мдр)</i> </div>
                                <div class="characteristict-second__skils-item"> <input type="checkbox"> <input class="input__chracteristics-second" value="-1"> <i> Выживание </i> <i>(Мдр)</i> </div>
                                <div class="characteristict-second__skils-item"> <input type="checkbox"> <input class="input__chracteristics-second" value="-1"> <i> Дрессировка </i> <i>(Мдр)</i> </div>
                                <div class="characteristict-second__skils-item"> <input type="checkbox"> <input class="input__chracteristics-second" value="+1"> <i> Запугивание </i> <i>(Хар)</i> </div>
                                <div class="characteristict-second__skils-item"> <input type="checkbox"> <input class="input__chracteristics-second" value="+1"> <i> Исполнение </i> <i>(Хар)</i> </div>
                                <div class="characteristict-second__skils-item"> <input type="checkbox"> <input class="input__chracteristics-second" value="+3"> <i> История </i> <i>(Инт)</i> </div>
                                <div class="characteristict-second__skils-item"> <input type="checkbox"> <input class="input__chracteristics-second" value="+2"> <i> Ловкость рук </i> <i>(Лвк)</i> </div>
                                <div class="characteristict-second__skils-item"> <input type="checkbox" checked> <input class="input__chracteristics-second" value="+5"> <i> Магия </i> <i>(Инт)</i> </div>
                                <div class="characteristict-second__skils-item"> <input type="checkbox"> <input class="input__chracteristics-second" value="-1"> <i> Медицина </i> <i>(Мдр)</i> </div>
                                <div class="characteristict-second__skils-item"> <input type="checkbox"> <input class="input__chracteristics-second" value="+1"> <i> Обман </i> <i>(Хар)</i> </div>
                                <div class="characteristict-second__skils-item"> <input type="checkbox"> <input class="input__chracteristics-second" value="+3"> <i> Природа </i> <i>(Инт)</i> </div>
                                <div class="characteristict-second__skils-item"> <input type="checkbox"> <input class="input__chracteristics-second" value="-1"> <i> Проницательность </i> <i>(Мдр)</i> </div>
                                <div class="characteristict-second__skils-item"> <input type="checkbox"> <input class="input__chracteristics-second" value="+3"> <i> Расследование </i> <i>(Инт)</i> </div>
                                <div class="characteristict-second__skils-item"> <input type="checkbox"> <input class="input__chracteristics-second" value="+3"> <i> Религия </i> <i>(Инт)</i> </div>
                                <div class="characteristict-second__skils-item"> <input type="checkbox"> <input class="input__chracteristics-second" value="+2"> <i> Скрытность </i> <i>(Лвк)</i> </div>
                                <div class="characteristict-second__skils-item"> <input type="checkbox"> <input class="input__chracteristics-second" value="+1"> <i> Убеждение </i> <i>(Хар)</i> </div>
                                <div class="characteristics-second__name-text"> <b>Навыки</b> </div>
                            </div>
                        </div>
                    </div>
                    <div class="main-block__characteristics_bottom-block">
                        <div class="characteristics_pasive-wisdom">
                        <div class="characteristics_pasive-wisdom_item"> <input class="input__pasive-vidsom"> <i>Пассивныя мудрость(Вниммание)</i> </div>
                        </div>
                        <div class="characteristics_passive-widsom__text-area">
                            <div><textarea class="character-stats__text-area_item-spells">Язык: Всеобщий                        
                            </textarea></div>
                            <div><b>Прочие умения и языки</b></div>
                        </div>
                    </div>
                </div>
                <div class="main-block__center">
                    <div class="main-block__character-stats_collor">
                        <div class="character-stats_collor__armor-stats">
                            <div class="character-stats_collor__armor-stats_item">
                            <div> <input class="input__armor-stats" value="14"> </div>
                            <div class="character-stats_collor__armor-stats_text"> <h2>Класс брони</h2> </div>
                            </div>
                            <div class="character-stats_collor__armor-stats_item">
                            <div> <input class="input__armor-stats" value="+2"> </div>
                            <div class="character-stats_collor__armor-stats_text"> <h2>Инициатива</h2> </div>
                            </div>
                            <div class="character-stats_collor__armor-stats_item">
                            <div> <input class="input__armor-stats" value="25"> </div>
                            <div class="character-stats_collor__armor-stats_text"> <h2>Скорость</h2> </div>
                            </div>
                        </div>
                        <div>
                            <div class="character-stats_collor__health-item">
                                <div class="character-stats_collor__health-item-text"> <i>Максимум ПЗ</i> <input class="health-item__input" value="11"> </div>
                                <div class="character-stats_collor__health-item-text"> <input class="input__health" value="11"> </div>
                                <div class="character-stats_collor__health-item-text"> <h2>Текущие пункты здоровья</h2> </div>
                            </div>
                            <div class="character-stats_collor__health-item">
                                <div class="character-stats_collor__health-item-text"> <input class="input__health"> </div>
                                <div class="character-stats_collor__health-item-text"> <h2>Временные пункты здоровья</h2> </div>
                            </div>
                        </div>
                    </div>
                    <div class="character-stats_collor__dice-rolls">
                        <div class="character-stats_collor__dice-rolls_health-dice">
                            <div class="character-stats_collor__dice-rolls_health-dice_items"> <i>Всего</i> <input class="health-dice__input" value="2"> </div>
                            <div class="character-stats_collor__dice-rolls_health-dice_items"> <input class="input__health-dice"> </div>
                            <div class="character-stats_collor__dice-rolls_health-dice_items"> <b>Кости здоровья</b> </div>
                        </div>
                        <div class="character-stats_collor__dice-rolls_health-dice">
                            <div class="character-stats_collor__dice-rolls_health-dice_items"> Успехи <input type="checkbox"> <input type="checkbox"> <input type="checkbox"> </div>
                            <div class="character-stats_collor__dice-rolls_health-dice_items"> Провалы <input type="checkbox"> <input type="checkbox"> <input type="checkbox"> </div>
                            <div class="character-stats_collor__dice-rolls_health-dice_items"> <b>Испыт.Против смерти</b> </div>
                        </div>
                    </div>
                    <div>
                        <div class="character-stats__text-area">
                            <div><textarea class="character-stats__text-area_item-spells">Заговоры:
Громовой клинок
Огенный снаряд                        
                            </textarea></div>
                            <div><b>Атаки и заклинания</b></div>
                        </div>
                    </div> 
                    <div>
                        <div class="character-stats__text-area_equipment">
                            <div><textarea class="character-stats__text-area_equipment-item">                        
                            </textarea></div>
                            <div><b>Снаряжение</b></div>
                        </div>
                    </div>
                </div>
                <div class="main-block__right">
                    <div class="main-block__right_text-block">
                        <div class="character-stats__text-area">
                            <div><textarea class="character-stats__text-area_item">Я не могу легко расставаться с деньгами, и могу сколь угодно долго торговаться.</textarea></div>
                            <div><b>Свойства личности</b></div>
                        </div>
                        <div class="character-stats__text-area">
                            <div> <textarea class="character-stats__text-area_item">Свобода. Все должны быть свободны, чтобы жить так, как хочется им. (Хаотичный)</textarea> </div>
                            <div> <b>Идеалы</b></div>
                        </div>
                        <div class="character-stats__text-area">
                            <div> <textarea class="character-stats__text-area_item">Мастерская, где я учился ремеслу, для меня — самое важное место в мире.</textarea> </div>
                            <div> <b>Узы</b> </div>
                        </div>
                        <div class="character-stats__text-area">
                        <div> <textarea class="character-stats__text-area_item-long">Черты:
Древний ритуал
Особенности:
Тёмное зрение
Девять жизней
Рожденный в пустыне
                            </textarea> </div>
                            <div> <b>Особенности и свойства</b> </div>
                        </div>
                    </div>
                </div>
            </div>